{% block content %}

<div class="card text-center">
  <div class="card-header">
    More About {{name}}
  </div>
  <div class="card-body">
    <h4 class="card-title">Agile Web Developer</h4>
    <p class="card-text"><em>I am a Front-End Developer that seeks to improve his HTML & CSS and JavaScript Skills </em></p>
    <p class="card-text"><em>I would also like to learn more about IOT and WOT later on </em></p>
    <a href="https://radlee.github.io/" target="_blank" class="btn btn-primary">My Portfolio</a>
  </div>
  <div class="card-footer text-muted">
    27 October 2017 - codeX
  </div>
</div>
{% endblock %}
